<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">
    <h1 class="name">
      <i>MoviesAdda</i>
    </h1>
  </a>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link  text-white" href="#home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  text-white" routerLink="/movie-List" href="#Wishlist">WishList</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#Contact">Contact Us</a>
      </li>
      <li class="nav-item my-sm-0 pt-2">
        <a href="#">Login</a>
      </li>
    </ul>
  </div>
</nav>