<footer class="page-footer font-small bg-dark">
  <div style="background-color: #6351ce;">
    <div class="container">
      <div class="row py-4 d-flex align-items-center">
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
          <p>
            <a href="#">© 2018 Copyright MoviesAdda.com</a>
          </p>
        </div>
        <div class="col-md-6 col-lg-7 text-center text-md-right">
          <!-- Facebook -->
          <a class="fb-ic" href="https://www.facebook.com/">
            <i class="fa fa-facebook mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic" href="https://twitter.com/">
            <i class="fa fa-twitter mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic" href="https://plus.google.com/">
            <i class="fa fa-google-plus mr-4"> </i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>